/* GENERAL */
#container {
  width: 100%;
}

.josefin-slab {
  font-family: 'Josefin Slab', serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.text-orange {
  color: #b4682f;
}

.text-gray {
  color: #7a7979;
}

.text-white {
  color: #ffffff;
}

/* HEADER */
#header .filler {
  background-color: #ffffff;
  height: 75px;
}

#header .nav {
  height: 275px;
  background-color: #bbb1aa;
}

#header ul {
  margin-top: 50px;
}

#hand {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  margin-left: -17px;
  margin-top: -17px;
}

#logo {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom: 125px;
}

/* RECENT WORK */
#recent-work {
  height: 275px;
}

#recent-work p {
  margin-top: 50px;
}

#recent-work img {
  height: 124px;
  width: 150px;
  position: absolute;
  left: 50%;
  margin: 25px auto 25px -75px;
}

/* PROCESS */
#process {
  height: 925px;
  background-color: #bbb1aa;
  position: static;
}

#process .text {
  width: 25%;
  margin: 0 auto;
  padding: 50px 0;
}

/* ABOUT */
#about {
  height: 375px;
  background-color: #9a6d4a;
}

#about .text {
  width: 550px;
  margin: 0 auto;
  padding: 50px 0;
  position: relative;
}

#portrait {
  width: 425px;
  height: 281px;
  position: absolute;
  right: -130px;
  bottom: -30px;
}

/*#about p {
  width: 40%;
  margin: 0 auto;
}*/

/* CONTACT */
#contact {
  background-color: #bbb1aa;
  margin-top: -20px;
}

#contact form {
  margin: 20px auto 20px 150px;
  width: 55%;
}

#contact .shadow {
  box-shadow: 5px 5px 5px #888888;
  border-radius: 0;
}

#contact .submit {
  background-color: #b19c94;
  border-radius: 5px;
}