/* GENERAL */
.josefin-slab {
  font-family: 'Josefin Slab', serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.text-orange {
  color: #b4682f;
}

.text-gray {
  color: #7a7979;
}

/* HEADER */
#header {

}

/* RECENT WORK */
#recent-work {

}

/* LIST SECTION */
#list-section {
  width: 25%;
  margin: 0 auto;

}

/* ABOUT */
#about {
  background-color: #9a6d4a;
}

#about p {
  color: #ffffff;
  width: 40%;
  margin: 0 auto;
}

/* CONTACT */
#contact {
  background-color: #bbb1aa;
  margin-top: -20px;
}

#contact form {
  margin: 20px auto 20px 150px;
  width: 55%;
}