/* GENERAL */
.josefin-slab {
  font-family: 'Josefin Slab', serif;
  /* optional */
  font-weight: bolder;
}

.text-orange {
  color: #b4682f;
}

.text-gray {

}

/* HEADER */
#header {

}

/* RECENT WORK */
#recent-work {

}

/* LIST SECTION */
#list-section {

}

/* ABOUT */
#about {

}

/* CONTACT */
#contact {

}